<div id="view" th:fragment="playground">
    <style scoped>
        .playground-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 50vh;
            margin: 20vh auto;
            text-align: center;
        }

        .collection-item {
            color: #0d47a1 !important;
        }

        .collection-item:not(.active):hover {
            background-color: #bbdefb !important;
            font-size: 15px;
            transition: font-size 0.1s ease;
        }

        .collection .collection-item.active {  
            background-color: #90cdff !important;
            font-size: 15px;
            transition: font-size 0.1s ease;
        }

        .collection-header {
            color: #424242 !important;
        }

        .collection {
            border-radius: 10px !important;
        }

        .btn-custom {
            background-color: #0d47a1 !important;
            color: #ffffff !important;
            border: none;
            min-width: 150px;
        }

        .btn-error {
            background-color: #e57373 !important;
        }
        
        .button-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .hidden {
            display: none;
        }
    </style>

    <h2 style="margin-left: 25px; color: #9e9e9e">Playground</h2>
    <div class="playground-wrapper" >
        <ul id="room_list" class="collection with-header" 
            hx-get="/playground/refresh" 
            hx-trigger="load, every 5s"
            th:insert="fragments/rooms :: rooms"
        ></ul>
        <div class="button-wrapper">
            <a class="waves-effect waves-light btn btn-custom" 
                hx-get="/room/create" 
                hx-target="#view"
                hx-swap="outerHTML"
            >Create Room</a>
             <a id="join" class="hidden" 
                hx-post="/room/join" 
                hx-target="#view"
                hx-vals='js:{roomName: selectedRoomName()}'
                hx-swap="outerHTML"
                hx-trigger="letsJoin"
            >Join</a>
            <a class="waves-effect waves-light btn btn-custom btn-error" 
                hx-get="/exit" 
                hx-target="#view"
                hx-swap="outerHTML"
            >Exit</a>
        </div>
    </div>

    <script>

        function selectRoom(e) {
            if(document.selectedRoom == event.target) {
                const joinButton = document.getElementById('join');
                const joinEvent = new Event('letsJoin');
                joinButton.dispatchEvent(joinEvent);
                document.selectedRoom = null;
            } else {
                document.selectedRoom?.classList.remove("active")
                document.selectedRoom = event.target
                document.selectedRoom.classList.add("active")
            }
        }

        function selectedRoomName() {
            return document.selectedRoom.textContent
        }

        document.addEventListener('htmx:afterRequest', function (e) {
            if (document.selectedRoom && e.detail.elt.id === 'room_list') {
                const rooms = document.querySelectorAll('.collection-item');
                for (const room of rooms) {
                    if (room.textContent === selectedRoom.textContent) {
                        document.selectedRoom = room
                        document.selectedRoom.classList.add("active")
                        break;
                    }
                }
            }
        });

    </script>
</div>