<div id="quiz-control" class="quiz-control">
  <a id="answer-button" class="waves-effect waves-light btn-large" 
    th:attr="hx-get='/room/answer/' + ${question.id}"
    hx-trigger="answer-event"
    hx-swap="none"
    onclick="answerButtonHandler()"
  >ANSWER</a>

  <script>
    pressedAnswer = false;

    document.addEventListener('keydown', function(event) {
        if (event.code === 'Space') {
            event.preventDefault();
            answerButtonHandler();
        }
    });

    function answerButtonHandler() {
      if(pressedAnswer) return;

      pressedAnswer = true;
      htmx.trigger("#answer-button", "answer-event")
    }
  </script>
</div>