<div id="quiz-control" class="quiz-control">
  <a id="answer-button" class="waves-effect waves-light btn-large" 
    th:attr="hx-get='/room/answer/' + ${question.id}"
    hx-trigger="answer-event"
    hx-swap="none"
    onclick="answerButtonHandler()"
  >ANSWER</a>

  <script>
    pressedAnswer = false;

    document.addEventListener('keydown', function(event) {
        if (event.code === 'Space') {
            event.preventDefault();
            answerButtonHandler();
        }
    });

    function answerButtonHandler() {
      setTimeout(() => {
        if(pressedAnswer) return;

        pressedAnswer = true;
        htmx.trigger("#answer-button", "answer-event")
      }, document.getElementsByClassName("playable").length > 0 ? 5000 : 0)
    }
  </script>
</div>